<div class="background">
  <div class="gradient">
    <div class="row">
       <div class="col-md-3"></div>
      <div class="col-md-3">
          <img src="../../../../assets/images/about.jpg" class="rounded" alt="...">
      </div>
      <div class="col-md-6">
<blockquote class="blockquote bq-primary">
  <p class="bq-title">About Dragon Healing By Pin</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quibusdam dignissimos itaque harum illo!
    Quidem, corporis at quae tempore nisi impedit cupiditate perferendis nesciunt, ex dolores doloremque!
    Sit, rem, in?
  </p>
</blockquote>
      </div>

    </div>
  </div>
</div>